<!-- HEAD -->

<%- include("../partials/head.ejs") %>


<body class="rellenar p-0 m-0">
  
  <!-- Barra de navegacion-->

  <%- include("../partials/navbar.ejs") %>
  
  <!-- Boton Flotante -->
  
  <%- include("../partials/button.ejs") %>

  <!-- Mangas -->
  <div class="row">
    <% for(let i=0; i < cards.length; i++ ){ %>
  <div class="card col-3">
      <img src="/images/mangas/<%= mangas[i].img %>" class="card-img-top tCartas" alt="<%= mangas[i].name %>">
      <div class="card-body">
        <h5 class="card-title"><%= mangas[i].name %></h5>
        <p class="card-text"><%= mangas[i].description %></p>
        <p class="card-text fw-bold">$ <%= mangas[i].price %></p>
        <a href="#" class="btn btn-light">Añadir al carrito</a>
      </div>
  </div>
    <% } %>
</div>

  <div class="rellenar"></div>

 
  <!-- Tarjetas de Best Sellers -->

  <div class="row">
   <div class="col-sm-6">
     <div class="card">
       <div class="card-body" style="width: 9.1rem;">
           <h5>#1 Spirit Charmers</h5>
           <img src="/images/SD39-DeckJP.png" class="card-img-top">
         <h5 class="card-title">Best Seller</h5>
         <p class="card-text">...</p>
         <a href="#" class="btn btn-primary">Buy</a>
       </div>
     </div>
   </div>
   <div class="col-sm-6">
     <div class="card">
       <div class="card-body" style= width:15.5rem;>
           <h5>#2 Grand Creators</h5>
           <img src="/images/grandcreators.png" class="card-img-top">
         <h5 class="card-title">Best Seller</h5>
         <p class="card-text">...</p>
         <a href="#" class="btn btn-primary">Buy</a>
       </div>
     </div>
   </div>
 </div>
 <div class="row">
   <div class="col-sm-6">
     <div class="card">
       <div class="card-body" style="width: 10.9rem">
           <h5>#3 Duel Devastator</h5>
           <img src="/images/dueldevastator.png" class="card-img-top">
         <h5 class="card-title">Best Seller</h5>
         <p class="card-text">...</p>
         <a href="#" class="btn btn-primary">Buy</a>
       </div>
     </div>
   </div>
   <div class="col-sm-6">
     <div class="card">
       <div class="card-body" style="width: 10rem">
           <h5>#4 Brothers Of Legendes </h5>
           <img src="/images/brother of legends.jpg" class="card-img-top">
         <h5 class="card-title">Best Seller</h5>
         <p class="card-text">...</p>
         <a href="#" class="btn btn-primary">Buy</a>
       </div>
     </div>
   </div>
 </div>
 <div class="row">
   <div class="col-sm-6">
     <div class="card">
       <div class="card-body" style="width: 21.4rem">
           <h5>#5 Maximun Gold "El Dorado"</h5>
           <img src="/images/Yu-Gi-Oh-TCG-Maximum-Gold-El-Dorado-Display-Box.avif" class="card-img-top">
         <h5 class="card-title">Best Seller</h5>
         <p class="card-text">...</p>
         <a href="#" class="btn btn-primary">Buy</a>
       </div>
     </div>
   </div>
   <div class="col-sm-6">
     <div class="card">
       <div class="card-body" style="width:10rem">
           <h5>#6 Legendary Duelist Season 1</h5>
           <img src="/images/legendary duelist 1.jpg" class="card-img-top">
         <h5 class="card-title">Best Seller</h5>
         <p class="card-text">...</p>
         <a href="#" class="btn btn-primary">Buy</a>
       </div>
     </div>
   </div> 
 </div>

</div>


<div class="rellenar"></div>

<!-- Pie de Pagina -->

<%- include("../partials/footer.ejs") %>

</body>    